<table width="{%= template.SmartEmail.contentWidth %}" cellspacing="0" cellpadding="0" class="full" bgcolor="#e7e7e7" align="center">
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" border="0" width="560" align="center">
                <tr><td height="20"></td></tr>
                <tr><td class="introtitle" align="left" valign="top">{%! this.title %}</td></tr>
                <tr><td height="10"></td></tr>
                <tr><td class="introdesc" align="left" valign="top">{%! this.description %}</td></tr>
                <tr><td height="20"></td></tr>
            </table>
        </td>
    </tr>
</table>
